/* no need to write alternative stylesheet */
.welcome {
    text-align: center;
    margin-top: 10%;
}

.link {
    align-items: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin-top: 7%;

}

.link > .welcome-button {
    margin-top: 2%;
    width: 20%;
    text-align: left;
}

.welcome-link {
    text-align: left;
    text-decoration: none;
    color: rgb(8, 0, 0);
    font-size: 1.3vw;
}